#panel .panel-button.lightning-panel-button {
  -natural-hpadding: 4px;
  -minimum-hpadding: 2px;
}

#panel .panel-button.lightning-panel-button .system-status-icon {
  padding: 0;
  margin: 0;
}

.lightning-overlay {
  background-color: rgba(0, 0, 0, 0);
}

.lightning-search-box {
  padding: 0;
}

.lightning-entry-row {
  margin-top: 10px;
  margin-left: 11px;
  margin-right: 11px;
  margin-bottom: 12px;
  spacing: 10px;
}

.lightning-entry-icon-box {
  width: 32px;
  height: 32px;
}

.lightning-entry-icon {
  -st-icon-style: symbolic;
}

.lightning-entry {
  padding: 0 !important;
  margin: 0;
  border: 0 !important;
  font-size: 1.25em;
  background-color: transparent;
}

.lightning-entry:focus {
  border: 0 !important;
  background-color: transparent;
}

.lightning-results-area {
  border-top: 0.5px solid rgba(200, 200, 200, 0.2);
}

.lightning-results-scroll {
  border: none;
  -st-vfade-offset: 0;
}

.lightning-results-wrapper {
  border: none;
}

.lightning-scroll-track {
  width: 12px;
}

.lightning-scroll-thumb {
  background-color: rgba(200, 200, 200, 0.35);
  border-radius: 4px;
  transition-duration: 120ms;
}

.lightning-scroll-track.hovered .lightning-scroll-thumb {
  background-color: rgba(200, 200, 200, 0.65);
}

.lightning-results {
  padding: 6px;
  spacing: 2px;
}

.lightning-results-scrollable {
  padding-right: 12px;
}

.lightning-result-row {
  padding: 9px;
  border-radius: 8px;
  background-color: transparent;
  text-align: left;
  border: none;
}

.lightning-result-icon {
  margin-right: 10px;
  width: 32px;
  height: 32px;
}

.lightning-result-title {
  font-size: 0.975em;
  font-weight: 550;
  margin-bottom: 1px;
}

.lightning-result-subtitle {
  opacity: 0.9;
  font-size: 0.85em;
}
